{% load i18n %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"><html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Login – Kloud Dashboard</title>
    {% include "_stylesheets.html" %}
    {% include "_scripts.html" %}
  </head>
  <body id="splash" class="small-stripe vertical-stripe black-bg">
    <div id="mws-container"></div>
    <div id="kloud_logo"></div>
    <div id="mws-login-wrapper">
        <div id="mws-login">
            <div id="h1"></div>
            <div id="mws-login-form">
               <center><h3 class="yellow">Se han enviado las instrucciones para recuperar la contraseña a tu correo</h3></center>
            </div>
        </div>
    </div>
    <div id="footer-login">
        <div id="banner">
        <center>
        Tels: DF: 2455-5000 - Mty: 1351-1555 - Gdl: 1204-0606 - Pue: 482-5660 - Qro: 312-2610 - Gto: 251-0995 - Tol: 318-3468 - 01-800-087-1515
        </center>
        </div>
    </div>
  </body>
</html>
