{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block form_id %}language_settings_form{% endblock %}
{% block form_action %}{% url change_password %}{% endblock %}

{% block modal_id %}language_settings_modal{% endblock %}
{% block modal-header %}{% trans "Change your password" %}{% endblock %}

{% block modal-body %}
<div class="left">
    <h3>{% trans "Complete the fields" %}</h3>
    <fieldset>
        {% for error in form.non_field_errors %}
            <span class="help-inline">{{ error }}</span>
        {% endfor %}
        {% for field in form %}
        <div class="input">
            {{ field.label_tag }}
            {% if field.errors %}
                {% for error in field.errors %}
                    <span class="help-inline">{{ error }}</span>
                {% endfor %}
            {% endif %}
            {{ field }}
        </div>
        {% endfor %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Description:" %}</h3>
    <p>{% trans "From here you can modify your password." %}</p>
    <h3>{% trans "Password Strength:" %}</h3>
    <div id="password_description">{% trans "Password not entered" %}</div>
    <div id="password_strength" class="strength0"></div>
</div>
{% endblock %}

{% block modal-footer %}
    <input class="btn btn-primary" type="submit" value="{% trans "Change password" %}" />
    {% if hide %}<a href="{% url horizon:settings:user:index %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>{% endif %}
{% endblock %}

